.wrap {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

img {
    height: 100px;
    width: auto;
}

.block {
    box-shadow: 5px 5px #226cf525;
}

.text {
    color: rebeccapurple;
    font-size: larger;
}

table {
    border: 1px solid #000000;
}

tr:nth-child(even) {
    background-color: aquamarine;
}

td:nth-child(even) {
    background-color: rgb(9, 235, 159);
}

li:hover {
    font-weight: 800;
    color: blue;
}